#loading {
    background: url(Resources/logo\ horizontal\ 2_1.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}